<div class="job">
    <p></p>
    <p>תאור: {{ jobData?.jobTitle}}</p>
    <p>תחום: {{jobTitle}}</p>
    <br>
    <button (click)="showDetails()" appButtonStyle>{{hiddenorShow}}</button>
    <div *ngIf="showJobDetails" >
        <p>מספר שעות: {{ jobData?.scopeOfHours }}</p>
        <p>אזור: {{ jobData?.area }}</p>
        <p>דרישות:</p>
        <ul>
            <li *ngFor="let requirement of jobData?.requirements">{{ requirement }}</li>
        </ul>
        <p>עבודה מהבית: {{ jobData?.workFromHome }}</p>
        <button (click)="openPopUp()" appButtonStyle>הצג קורות חיים שנשלחו</button>
    </div>
    <br>
    <input type="file" (change)="onFileSelected($event)" >
    <span >{{ uploadedFiles }}</span> 
    <a [routerLink]="'/Resume'" class="styleCv">יצירת קו"ח</a>
    
</div>

