.job {
  width: calc(23.33% - 20px); /* חלוקה לשלושה עמודות, עם מרווחים */
  margin: 10px;
  padding: 20px;
  margin-bottom: 39px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: 40%;
  p {
    margin: 10%;
  }
 
 .styleCv{
  color:rgb(27, 25, 25);
 }
  input[type="file"] {
    margin-top: 10px;
    color: #b58c70;
  }
}
